# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/


# Others Dict
tests/

# Distribuição / pacotes
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs e bancos de dados locais
*.log
*.pot
*.sqlite3
*.db

# Testes / Cobertura
.coverage
.tox/
.nox/
.pytest_cache/
.cache/
.mypy_cache/
.pyre/
.pytype/

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo

# Outras ferramentas
.DS_Store
Thumbs.db
